[Desktop Entry]
Type=Application
Name=omapreview
GenericName=PDF Viewer
Comment=Read, annotate, and sign PDFs
Exec=omapreview edit %f
TryExec=omapreview
Icon=application-pdf
MimeType=application/pdf;
Categories=Office;Viewer;
Keywords=PDF;annotate;sign;redact;omapreview;
Terminal=false
StartupNotify=true
StartupWMClass=org.omepreview.Editor
